
{% extends 'base.html.twig' %}

{% block title %}Edit subscriber{% endblock %}

{% block body %}
<a href="/admin/subscribers-list">< Back to list</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
